body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
   
}
header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}
nav {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav a {
    float: left;
    display: block;
    color: rgb(209, 6, 6);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ffffff71;
    color: white;
}
section {
    padding: 20px;
    position: relative;
    z-index: 2;
}
footer {
    background-color: rgba(0, 0, 0, 0.356);
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 2;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('/img/sfondi/sfondo\ per\ le\ categorie\ .png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:  black;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}


@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
