header {
    background-color: var(--nav-bg);
    padding: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--nav-bg);
    padding: 15px 0;
}

nav a {
    color: var(--primary-color);
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
}

nav a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

section {
    padding: 40px 20px;
    text-align: left;
}

#intro {
    text-align: center;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

#social ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

#social a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0074A8;
}

#social box-icon {
    width: 50px;
    height: 50px;
    fill: #0074A8;
    margin-bottom: 5px;
}

#social a:hover box-icon {
    transform: scale(1.2);
    fill: rgb(255, 255, 255);
}

#social span {
    font-size: 14px;
    color: z#ffffff;
}

.email-link {
    color: #0074A8;
    text-decoration: none;
    font-weight: bold;
}

.email-link:hover {
    color: #004568;
    text-decoration: underline;
}

section#vai-avanti {
    padding: 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: rgb(26, 26, 26);
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 24px;
    color: #ffffff;
}

.product-card p {
    font-size: 16px;
    color: #ffffff;
}

.price {
    font-size: 22px;
    color: #ffffff;
    margin: 10px 0;
}

.cta-btn {
    background-color: #013352;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    display: inline-block;
}

.cta-btn:hover {
    background-color: #025e74;
}




section#funzionamento {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 2rem;
}

section#funzionamento h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

section#funzionamento li {
    margin-bottom: 2rem;
    padding: 1rem;
    border-left: 5px solid #0e6da8;
    background-color: #073d5e;
    border-radius: 5px;
}

section#funzionamento li h2 {
    margin-bottom: 1.2rem;
    color: #ffffff;
}

section#funzionamento p {
    margin: 0.5rem 0 0;
    color: #ffffff;
}

.logo-container {
    position: absolute;
    /* Posiziona il logo in modo assoluto rispetto al body */
    top: 20px;
    /* Distanza dal bordo superiore */
    left: 20px;
    /* Distanza dal bordo sinistro */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 100px;
    /* Imposta la larghezza del logo */
    height: auto;
    /* Mantiene le proporzioni originali dell'immagine */
}


.animated-section {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlideIn 1.5s ease-out forwards;
    animation-delay: 0.5s;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
}

.glow-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    animation: glow 2s ease-in-out infinite alternate;
    margin-bottom: 1rem;
}

.svg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.animated-trash {
    animation: swing 2s infinite ease-in-out;
    width: 80px;
    height: auto;
}

.cta-button {
    margin-top: 20px;
    background-color: var(--highlight);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #00ffaa;
}

.dark-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dark-toggle box-icon {
    transition: color 0.3s;
}

.dark-toggle:hover box-icon {
    color: #ffffff;
}

.dark-toggle:hover {
    background-color: var(--highlight);
}

.highlighted {
    background-color: var(--highlight);
    color: black;
    padding: 0.2rem;
    border-radius: 4px;
}

.time-remaining {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
}

.audio-container {
    margin-top: 40px;
    padding: 2rem;
    text-align: center;
}

.audio-text {
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.logo-back-to-home {
    width: 40px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: transform 0.3s ease-in-out;
}

.logo-back-to-home:hover {
    transform: scale(1.1);
    /* Ingrandisce il logo al passaggio del mouse */
}